<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
  <%- include('partials/navbar') %>

  <!-- Main -->

  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">

    <ul class="nav nav-pills nav-stacked" style="border-right:1px solid black">
      <!--<li class="nav-header"></li>-->
      <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a href="#"><i class="fa fa-tags"></i> Referal Code</a></li>
      <li><a href="#"><i class="fa fa-history"></i> Redeem History</a></li>
      <li><a href="#"><i class="fa fa-lock"></i> Change Password</a></li>

    </ul>
  </div><!-- /span-3 -->
  <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
    <!-- Right -->

    <a href="#"><strong><span class="fa fa-dashboard"></span> My Dashboard</strong></a>
    <div class="container-mr-3">
      <div class="row">
        <div class="col-md-8">
          <h2>Daftar Anggota</h2>
          <% if (msg.length !== 0) { %>
          <div class="alert alert-success" role="alert">
            <%= msg %>
          </div>
          <% } %>
          <a href="/dashboard/addUser" class="btn btn-primary">Tambah Data Anggota</a>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">NO</th>
                <th scope="col">Nama</th>
                <th scope="col">Email</th>
                <th scope="col">No HP</th>
                <th scope="col">Aksi</th>
              </tr>
            </thead>
            <tbody>
              <% if (user.length === 0) { %>
              <tr>
                <td colspan="4">
                  <div class="alert alert-danger fw-bold" role="alert">
                    data user tidak ada
                  </div>
                </td>
              </tr>
              <% } %>
              <% user.forEach((user,i) => { i ++ %>
              <tr>
                <th scope="row"> <%= i %> </th>
                <td><%= user.usernameG %> </td>
                <td><%= user.email %> </td>
                <td><%= user.nohp %> </td>
                <td>
                  <a href="/dashboard/detail/<%= user.id %>" class="btn btn-success badge rounded-pill"><i
                      class="bi bi-info-circle"></i>
                    Detail</a>
                  <a href="/dashboard/update/<%= user.id %>" class="btn btn-primary badge rounded-pill"><i
                      class="bi bi-info-circle"></i>
                    update</a>
                  <a href="/dashboard/delete/<%= user.id %>" class="btn btn-danger badge rounded-pill"><i
                      class="bi bi-info-circle"></i>
                    delete</a>
                </td>
                <% }) %>


            </tbody>
          </table>
        </div>
      </div>
    </div>
    <hr>
  </div>
</body>

</html>