<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
    <% if(messages.error) { %>
    <h5><%= messages.error %></h5>
    <% } %>
    <div class="sidenavLog">
        <div class="login-main-text">
            <h2>Welcome to my challenge</h2>
            <p>Login from here to access.</p>
        </div>
    </div>
    <div class="mainLog">
        <div class="col-md-6 col-sm-12">
            <div class="login-form">
                <form action="/login" method="POST">
                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" class="form-control" placeholder="User Name" name="username">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="password">
                    </div>
                    <button type="submit" class="btn btn-black">Login</button>
                    <a href="/register"><button href="/register" type="button"
                            class="btn btn-black">register</button></a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>