<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
    <%- include('partials/navbar') %>

    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">

        <ul class="nav nav-pills nav-stacked" style="border-right:1px solid black">
            <!--<li class="nav-header"></li>-->
            <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="#"><i class="fa fa-tags"></i> Referal Code</a></li>
            <li><a href="#"><i class="fa fa-history"></i> Redeem History</a></li>
            <li><a href="#"><i class="fa fa-lock"></i> Change Password</a></li>

        </ul>
    </div><!-- /span-3 -->
    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
        <!-- Right -->



        <form action="/dashboard/save" method="POST">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="usernameG">
            </div>
            <label>Password</label>
            <input type="password" class="form-control" name="passwordG" id="myInput">
            <input type="checkbox" onclick="myFunction()">Show Password
            <div class="form-group">
                <label>No Hp</label>
                <input type="text" class="form-control" name="nohp">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <button type="submit" class="btn btn-black">Tambah</button>
        </form>

</body>

</html>