<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <div class="sidenavLog">
        <div class="login-main-text">
            <h2>Welcome to my challenge</h2>
            <p>Login from here to access.</p>
        </div>
    </div>
    <div class="mainLog">
        <div class="col-md-6 col-sm-12">
            <div class="login-form">
                <form action="/dashboard/update/<%= user.id %>" method="POST">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="usernameG" value="<%= user.usernameG %>">
                    </div>
                    <div class="form-group">
                        <label>No Hp</label>
                        <input type="text" class="form-control" name="nohp" value="<%= user.nohp %>">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="email" value="<%= user.email %>">
                    </div>
                    <button type="submit" class="btn btn-black">Update</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>